fastapi==0.115.14
uvicorn==0.23.2       

python-dotenv==1.1.1

pydantic==1.10.12

langchain==0.3.26
langchain-openai==0.3.27
langchain-community==0.3.26
langchain-huggingface==0.3.0

PyPDF2==3.0.1

sentence-transformers==5.0.0

torch==2.7.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html

faiss-cpu==1.11.0
